@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center row">
    <div class="col-md-12 col-sm-12">
        <div class="hero-container">
            <!-- Overlay to darken the background -->
            <div class="overlay"></div>
            <!-- Image -->
            <img class="img-fluid hero" src="https://static0.srcdn.com/wordpress/wp-content/uploads/2023/11/greatest-movies-of-all-time.jpg" />

            <!-- Text inside the image container -->
            <div class="hero-text heading">
                <h1 class="display-4">Our privacy policy</h1>
            </div>
        </div>
    </div>
</div>


<footer class="footer text-muted text-white">
    <div class="container">
        &copy; 2025 - MovieMania - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>